[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "graphicalMCP"]
	path = graphicalMCP
	url = https://github.com/gilead-biostats/graphicalmcp
